body {
    position: relative;
}
h1 {
  text-align: center;
  margin: 0px;
}

p {
  text-align: center;
}
.header {
  /*ensure data-offset for navbar is equal to header height*/
  height: 200px;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

/* Sticky class added by JavaScript when navbar reaches scroll position*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
/* Adds padding to content immediately after sticky class, prevents sudden quick movemebt */
.sticky + .content {
  padding-top: 60px;
}
#projects-section {
  padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;
}
#about-section {
  padding-top:50px;height:500px;color: #fff; background-color: #673ab7;
}
#contact-section {
  padding-top:50px;height:500px;color: #fff; background-color: #ff9800;
}
